*{
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
    color:#659B68;
}
body{
    background-image:url('trees.jpg');
}
.left{
    float:left;
}
.right{
    float:right;
}
nav a{
    font-size:large;
    padding:1em;
    border:thin solid black;
    text-align:center;
    background-color: rgba(255,255,255,0.75);
}
.mainNav nav a{
    display:block;
}
.mainNav{
    width:50%;
    margin-left:25%;
}
header{
    text-align:center;
    margin:auto;
    background-color: rgba(255,255,255,0.75);
    width:35%;
}